<h1>CATS CATS CATS</h1>
<div class="container">
  <div class="row">
<% @cats.each do |cat|%>
<div class="col-sm card-margin">
<div class="card mx-auto"  style="width: 18rem;">
  <%= cl_image_tag cat.photo.key, height: 200, width: 280, crop: :fill if cat.photo.attached?%>
  <div class="card-body">
    <h5 class="card-title"><b><%=cat.name%></b></h5>
    <p class="list-group-item">Bio: <b><%=cat.bio%></b></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Gender: <b><%=cat.gender%></b></li>
    <li class="list-group-item">Breed: <b><%=cat.breed%></b></li>
    <li class="list-group-item">Mood: <b><%=cat.mood%></b></li>
     <li class="list-group-item">hypoallergenic: <b><%= cat.hypoallergenic ? "yes" : "no" %></b></li>
     <li class="list-group-item">Address: <b><%=cat.address%></b></li>
     <!-- <li class="list-group-item">Avilable: <b><%=cat.available%></b></li> -->
  </ul>
  <div class="card-body">
    <%= link_to "VIEW MY PROFILE", cat_path(cat) %>
      <p> </p>
   <%= link_to "BOOK ME", cat_path(cat) %>
  </div>
</div>
</div>
<br>
<% end %>
</div>
</div>

<div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     ></div>

