<h1>CATS CATS CATS</h1>
<div class="container">
  <div class="row">
<% @cats.each do |cat|%>
<div class="col-sm">
<div class="card mx-auto" style="width: 18rem;">
  <%= cl_image_tag cat.photo.key, height: 200, width: 280, crop: :fill if cat.photo.attached?%>
  <div class="card-body">
    <h5 class="card-title"><b><%=cat.name%></b></h5>
    <p class="card-text">"I hate dogs"</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Gender: <b><%=cat.gender%></b></li>
    <li class="list-group-item">Breed: <b><%=cat.breed%></b></li>
    <li class="list-group-item">Mood: <b><%=cat.mood%></b></li>
     <li class="list-group-item">Allergies: <b><%=cat.allergies %></b></li>
     <li class="list-group-item">Avilable: <b><%=cat.available%></b></li>
  </ul>
  <div class="card-body">
    <a href="http://localhost:3000/cats/id" class="card-link">View Profile</a>
    <a href="http://localhost:3000/cats/id" class="card-link">Book Me</a>
  </div>
</div>
</div>
<br>
<% end %>
</div>
</div>
<br>
