
<div class="card mb-3">
  <div class="card-body">
  </div>
  <%# <img src="images/image1.jpeg" class="card-img-top" alt="..."> %>
  <div class="card-body">
    <%= cl_image_tag @cat.photo.key, height: 200, width: 280, crop: :fill if @cat.photo.attached?%>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <h5 class="card-title"><b><%=@cat.name%></b></h5>
    <p class="card-text">"I hate dogs"</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Gender: <b><%=@cat.gender%></b></li>
    <li class="list-group-item">Breed: <b><%=@cat.breed%></b></li>
    <li class="list-group-item">Mood: <b><%=@cat.mood%></b></li>
     <li class="list-group-item">Hypoallergenic: <b><%=@cat.hypoallergenic %></b></li>
    <!--  <li class="list-group-item">Avilable: <b><%=@cat.hypoallergenic%></b></li> -->
  </ul>



<div>
 <a href="http://localhost:3000/cats" class="card-link">Back</a>
  <a href="#" class="card-link">Book Me</a>
</div>

<div>
  <%= simple_form_for @cat do |f| %>
   <%= f.input :start_date, as: :date, html5: true %>
   <%= f.button :submit %>
  <% end %>
</div>