<!DOCTYPE html>

<html>
  <head>
    <title>*** <^_^> 9Lives <^_^> ***</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script> scr="<_booking class="js"></_booking></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

<div>
  <p><pre style="color: green">

  <img src="https://media.publit.io/file/LeWagon/logo9lives.png" alt="Responsive image">
</pre></p>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/cats">9Lives</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cats">Cat Listings </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cats/new">List A New Cat</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search"name="query">
      <% if user_signed_in? %>
        <p>Hello, <%= current_user.email %>!</p>  
        <%= link_to "Log out", destroy_user_session_path, :method => :delete, class:"btn btn-primary" %>
      <% end %>
    </form>
  </div>
</nav>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>

  <footer>
    <p>Here's a footer</p>
  </footer>

  </html>
